.App{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-content: center;
  text-align: center;
}



.outer{
  display:flex;
  flex-direction: column;
  text-align: center;
  background: url('https://images.unsplash.com/photo-1469980098053-382eb10ba017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  align-content: center;
  align-content: center;
  overflow: hidden;
}

.outer p{
  color:white;
  font-family: "Courier";
  font-size: 46pt;
  font-style: bold;
}

.container{
  display:flex;
  flex-direction: row;
  text-align: center;
  /* background: url('https://images.unsplash.com/photo-1469980098053-382eb10ba017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80') no-repeat center center fixed;
  background-size: cover; */
  min-height: 100vh;
  align-content: center;
  align-content: center;
  overflow: hidden;
}

.container p{
  text-align: center;
}


.sad{
  background: url('https://bit.ly/2pcBWR5') no-repeat center center;
  background-size: initial;
  height: 90vh;
  width: 30%;
  margin-left: 10%;
  margin-top: 5vh;
  border-radius: 30px;

  overflow: hidden;
}

.happy{
  background: url('https://bit.ly/33DuFJ7') no-repeat center center;
  /* background: url('https://images.unsplash.com/photo-1522098605161-cc0c1434c31a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3839&q=80') no-repeat center center; */
  background-size: contain;
  height: 90vh;
  width: 30%;
  margin-top: 5vh;
  margin-left: 20%;
  border-radius: 30px;
  
  overflow: hidden;
}

.happy:hover{
  background: url('https://bit.ly/2QegUws') no-repeat center center;
  /* background: url('https://images.unsplash.com/photo-1522098605161-cc0c1434c31a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3839&q=80') no-repeat center center; */
  background-size: contain;
}

.sad:hover{
  background: url('https://bit.ly/2O86CLH') no-repeat center center;
  /* background: url('https://images.unsplash.com/photo-1522098605161-cc0c1434c31a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3839&q=80') no-repeat center center; */
  background-size: initial;
}


