/* .App{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-content: center;
  text-align: center;
} */

html,body {
  height: 100%;
  }

.image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.logo-area{
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
}

.landing-text{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin-left: 7.5vw;
}

.landing-text p, .landing-text h3{
  margin: 5vh auto;
}
.outer {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 0.5px;
  }
  .fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    color: #eeeeee;
    text-align: center;
    display: flex;
    flex-direction: column;

  }
  .fixed h2 {
    display: table-cell;
    vertical-align: middle;
  }
  .scroll {
    background-color:#D183C9;
    padding: 10px 70px;
    color: white;
    min-height: 20vh;
    max-height: 55vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32pt;
    font-style: bold;
    text-align: center;
  }

  .scroll h3{
    height: 20vh;
  }
  .one {
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    background-image: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
  }
  .two {
    background-image: url("https://www.gfk.com/fileadmin/user_upload/website_content/Images/160422_GfK_Connected_Consumer_Index_Banner_1000x600.png")
  }
  .three {
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 98pt;
    font-style: bold;
    background-image: url("https://images.unsplash.com/photo-1533745848184-3db07256e163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80")
  }

  .one h3 {
    font-size: 7vw;
  }
  .one p {
    font-size: 3vw;
  }

  .three h3{
    margin-top: 800px;
  }

  .sad h3 {
    background-color:#bba0ca;
    border-radius: 25px;
    font-size: 5vw;
  }

  .happy h3 {
    background-color: #7353BA;
    border-radius: 25px;
    font-size: 5vw;
  }

/* .outer{
  display:flex;
  flex-direction: column;
  text-align: center;
  background: url('https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  align-content: center;
  align-content: center;
  overflow: hidden;
} */

/* .outer p{
  color:white;
  font-family: "Courier";
  font-size: 46pt;
  font-style: bold;
} */

.container{
  display:flex;
  flex-direction: row;
  text-align: center;
  /* background: url('https://images.unsplash.com/photo-1469980098053-382eb10ba017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80') no-repeat center center fixed;
  background-size: cover; */
  align-content: center;
  align-content: center;
  text-align: center;
  overflow: hidden;
  height: 50vh;
  margin-top: 5vh;
}


.sad{
  height: 30vh;
  width: 30vw;
  margin-left: 13.333vw;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.happy{
  height: 30vh;
  width: 30vw;
  margin-left: 13.333vw;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.happy:hover{

}

.sad:hover{

}

.logo-img{
  height: 200px;
  width: 200px;
}
